librosa
numpy
tensorflow; python_version < '3.13'
tensorflow-intel; platform_system == 'Windows' and python_version < '3.13'
tensorflow-hub
scikit-learn
matplotlib
seaborn
pandas
fastapi
uvicorn
python-multipart
soundfile
joblib
scipy
psycopg2-binary
python-dotenv
